//
   Created by luke on 27/3/17.
extends layout

nav(class='navbar navbar-default')
    div(class='container-fluid')
        div(class='navbar-header')
            button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#header-navbar-collapse' aria-expanded='false')
                span(class='sr-only') Toggle navigation
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')
            a(class='navbar-brand') Brand
